#credenciais do aiflow
login=
password=
# Credenciais da API da Adzuna
ADZUNA_APP_ID=
ADZUNA_APP_KEY=

# Credenciais do Banco de Dados (Teste Local)
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
DB_NAME=

#credenciais do  databricks
databricks_host=
databricks_token=

#credencias minIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

#POSTGRES connections-airflow
connections=
host=
Schema=
login=
Password=